/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  font-family: "Roboto";
  font-style: normal;
}

* {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  z-index: 0;
}

header {
  height: 63px;
  max-width: 1040px;
  margin: auto;
}
header i {
  float: left;
  padding: 26px;
  position: absolute;
}

.localisation {
  background-color: #EAEAEA;
  height: 50px;
  text-align: center;
}
.localisation i {
  padding: 15px 10px;
}

.logo {
  text-align: center;
  overflow: hidden;
}
.logo img {
  width: 162px;
  height: 30px;
  margin-top: 20px;
}

footer {
  background-color: #353535;
  padding: 25px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__links a {
  margin-top: 5px;
  text-decoration: none;
  color: #FFFFFF;
}
.footer__links a i {
  margin-right: 10px;
}
.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__logo img {
  height: 27px;
}

@media (min-width: 720px) {
  .footer__container {
    margin-right: 20%;
    flex-direction: row-reverse;
  }
  .footer__links {
    flex-direction: row;
  }
  .footer__links a {
    margin-right: 10px;
  }
  .footer__links a > i {
    margin-right: 5px;
  }
  .footer__logo {
    margin-left: 20px;
  }
}
.icon-like {
  position: relative;
  cursor: pointer;
  margin-right: 18px;
  margin-left: 20px;
}
.icon-like i {
  font-size: 22px;
}
.icon-like .fa-regular {
  position: absolute;
}
.icon-like .fa-solid {
  opacity: 0;
  position: absolute;
  transition: opacity 0.7s;
}
.icon-like .fa-solid:hover {
  opacity: 1;
}

.icon--gradient {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loader {
  z-index: 1;
  background-color: white;
  height: 100vh;
  width: 100vw;
  border-radius: inherit;
  animation: load 2s forwards;
  position: absolute;
}
.loader div {
  height: 100%;
  width: 100%;
  margin-left: calc(25% - 30px);
  margin-top: calc(25% - 30px);
}
.loader div > div {
  display: block;
  width: 75px;
  height: 75px;
  border-style: solid;
  border-width: 10px;
  border-color: #CACACA;
  border-top-color: #A221B9;
  border-radius: 50%;
  animation: loader 1.75s forwards;
}
.loader span {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  99.99% {
    transform: rotate(360deg);
  }
  100% {
    visibility: hidden;
  }
}

@keyframes load {
  99.99% {
    height: 100vh;
    width: 100vw;
  }
  100% {
    height: 0vh;
    width: 0vh;
  }
}
.info {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 34px;
  align-items: center;
}
.info h1 {
  margin: 0 10px;
}
.info p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 27px;
}
.info button {
  /** 34 + 23 = 57px **/
  margin-bottom: 23px;
}

.primary-btn {
  background: linear-gradient(0, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  color: white;
  border: 0;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 15px;
  cursor: pointer;
  min-width: 186px;
  max-width: 230px;
}
.primary-btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(0, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
}

.howto {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 24px 32px;
}
.howto__btn {
  display: flex;
  flex-direction: column;
}
.howto h1 {
  text-align: left;
}
.howto button {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: none;
  background-color: #F6F6F6;
  height: 72px;
  margin-top: 20px;
  color: #7E7E7E;
  cursor: pointer;
}
.howto button:hover {
  background-color: #F5EDFF;
  color: #9356DC;
}
.howto button span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.howto button i {
  float: left;
  margin-left: 25px;
  margin-right: 27px;
}
.howto button h3 {
  color: black;
}
.howto button .circle {
  background-color: #9356DC;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  color: #FFFFFF;
  float: left;
  margin-left: -16px;
  padding: 0 0 0 7px;
  line-height: 24px;
}

.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 64px;
}
.restaurants h1 {
  text-align: left;
  margin-left: 20px;
  padding-top: 54px;
}
.restaurants .card {
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  cursor: pointer;
}
.restaurants .card img {
  border-radius: 15px 15px 0 0;
  height: 173px;
  width: 100%;
  object-fit: cover;
}
.restaurants .card .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}
.restaurants .card .image {
  position: relative;
}
.restaurants .card .image__new-badge {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  top: 8px;
  right: 16px;
  padding: 7px 9px 6px 9px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.restaurants .card .image__new-badge--disable {
  display: none;
}

@media (min-width: 720px) {
  .info > h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
  }
  .howto {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 24px 32px;
    max-width: 1040px;
    margin: auto;
  }
  .howto__btn {
    display: flex;
    flex-direction: row;
  }
  .howto button {
    width: 33%;
    margin: 10px;
  }
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  .restaurants__cards > article {
    width: 335px;
  }
  .restaurants__container {
    max-width: 1040px;
    overflow-x: scroll;
  }
}
.menu img {
  width: 100%;
  object-fit: cover;
}
.menu__image {
  overflow: hidden;
  max-height: 360px;
}
.menu__container {
  max-width: 1055px;
  margin: auto;
  background-color: #F6F6F6;
  margin-top: -60px;
  position: relative;
  border-radius: 20px 20px 0 0;
  padding: 20px;
}
.menu__list {
  max-width: 634px;
  margin: auto;
}
.menu__btn {
  text-align: center;
}
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__title h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
}
.menu__title i {
  padding: 5px;
}
.menu__cards {
  width: 100%;
}

.menu__content {
  height: 310px;
  background-color: #F6F6F6;
  padding-bottom: 20px;
}
.menu__content--4cards {
  height: 380px;
}
.menu__content__title {
  padding-bottom: 10px;
  border-bottom: 3px solid #99E2D0;
  z-index: 1;
  width: 40px;
  text-transform: uppercase;
}
.menu__content__title h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.menu__card {
  overflow: hidden;
  width: calc(100% - 40px);
  height: 68px;
  margin: 20px 0 20px 0;
  border-radius: 15px;
  cursor: pointer;
  background-color: #99E2D0;
}
.menu__card i {
  display: block;
  color: #FFFFFF;
}
.menu__card:hover i {
  display: block;
  animation: rotation 0.5s linear;
}
.menu__card:active i {
  display: block;
}
.menu__card__icon__check {
  padding: 25px;
  float: right;
}
.menu__card__container {
  position: absolute;
  transition: all 0.4s ease;
  border-radius: 15px;
  height: 68px;
  display: flex;
  white-space: nowrap;
  text-align: left;
  width: 100%;
}
.menu__card__container:hover {
  width: calc(100% - 59px);
}
.menu__card__content {
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #FFFFFF;
  width: 85%;
  border-radius: 15px 0 0 15px;
  padding: 10px 0 0 10px;
}
.menu__card__content h2 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__price {
  background-color: #FFFFFF;
  width: 15%;
  padding-top: 30px;
}

@media (min-width: 720px) {
  .menu img {
    margin-top: -20%;
    margin-bottom: -20%;
  }
  .menu____title {
    justify-content: center;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu__cards > .menu__card {
  position: absolute;
  max-width: 634px;
}
.menu__cards > .menu__card:nth-child(2) {
  animation: slide2 0.5s linear forwards;
}
.menu__cards > .menu__card:nth-child(3) {
  animation: slide3 0.75s linear forwards;
}
.menu__cards > .menu__card:nth-child(4) {
  animation: slide4 0.75s linear forwards;
}

@keyframes slide2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(78px);
  }
}
@keyframes slide3 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(156px);
  }
}
@keyframes slide4 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(234px);
  }
}

/*# sourceMappingURL=style.css.map */
