.menu{
    img{
        width: 100%;
        object-fit: cover;
    }
    &__image{
        overflow: hidden;
        max-height: 360px;
    }

    &__container{
        max-width: 1055px;
        margin: auto;
        background-color: $bg-menu-color;
        margin-top: -60px;
        position: relative;
        border-radius: 20px 20px 0 0;
        padding: 20px;
    }
    &__list{
        max-width: 634px;
        margin: auto;
    }

    &__btn{
        text-align: center;
    }

    &__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h1{
            font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
        }

        i{
            padding: 5px;
        }
    }

    &__cards{
        width: 100%;
    }

}



.menu__content{
    height: 310px; 
    background-color: $bg-menu-color;
    padding-bottom: 20px;
    &--4cards{
        height: 380px;
    }
    &__title{
        padding-bottom: 10px;
        border-bottom: 3px solid #99E2D0;
        z-index: 1;
        width: 40px;
        text-transform: uppercase;
        h3{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
        }
    }
}



.menu__card{
    overflow: hidden;
    width: calc(100% - 40px);
    height: 68px;
    margin: 20px 0 20px 0;
    border-radius: 15px;
    cursor: pointer;
    background-color: $secondary-color;
    i{
        display: block;
        color: #FFFFFF;
    }
    
    &:hover{
        i{
            display: block;
            animation: rotation .5s linear;
        }  
    }
    &:active i{
        display: block;
    }

    
    &__icon__check{
        padding: 25px;
        float: right;
    }

    &__container{
        position: absolute;
        transition: all .4s ease;
        border-radius: 15px;
        height: 68px;
        display: flex;
        white-space: nowrap;
        text-align: left;
        width: 100%;
        &:hover{
            width: calc(100% - 59px);

        }
    }

    &__content{
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: #FFFFFF;
        width: 85%;
        border-radius: 15px 0 0 15px;
        padding: 10px 0 0 10px;
        h2{
            text-overflow: ellipsis;
        overflow: hidden;
        }
    }


    &__price{
        background-color: #FFFFFF;
        width: 15%;
        padding-top: 30px;

        h2{
            text-align: right;
            margin-right: 20px;
        }
    
    }

}

@media (min-width: 720px) {
    .menu{
        img{
            margin-top: -20%;
            margin-bottom: -20%;
        }
        &__title{
            justify-content: center;
        }
    }

}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.menu__cards > .menu__card{
    position: absolute;
    max-width: 634px;
    
    &:nth-child(2){
        animation: slide2 .50s linear forwards;
    }
    &:nth-child(3){
        animation: slide3 .75s linear forwards;
    }
    &:nth-child(4){
        animation: slide4 .75s linear forwards;
    }
}

@keyframes slide2 {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(78px);
    }
}

@keyframes slide3 {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(156px);
    }
}

@keyframes slide4 {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(234px);
    }
}