header {
    height: 63px;
    i{
        float: left;
        padding: 26px;
        position: absolute;
    }
    
}
.localisation {
    background-color: $bg-dark-color;
    height: 50px;
    text-align: center;
    i{
        padding: 15px 10px;
    }
}
.logo{
    text-align: center;
    overflow: hidden;
    img{
        width: 162px;
        height: 30px;
        margin-top: 20px;
    }
    
}